---
const { className } = Astro.props;
---

<div class={`flex gap-[0.625rem] ${className}`}>
  <div class="h-[0.625rem] w-[0.625rem] bg-yellow-400 rounded-full"></div>
  <div class="h-[0.625rem] w-[0.625rem] bg-purple-600 rounded-full"></div>
  <div class="h-[0.625rem] w-[0.625rem] bg-orange-500 rounded-full"></div>
</div>
