---
import ImageMod from "./ImageMod.astro";
---

<ImageMod
  src="/images/homepage/patternBg.svg"
  alt="pattern"
  class="absolute top-0 left-0 -z-10 object-cover w-[168%] h-full"
  width={0}
  height={0}
/>

<!-- gradient background -->
<div
  class="absolute w-full lg:w-[71%] aspect-[0.618/1] opacity-20 top-0 lg:-bottom-[36px] right-[14%] -z-10 rotate-[-157deg]"
>
  <!-- purple -->
  <div
    class={`absolute w-[40%] aspect-[0.325/1] bg-[#a5a2ff] rounded-full ${Astro.url.pathname === "/" || "/es" ? "blur-[200px]" : "blur-[90px]"}  left-[138px] top-[31px] rotate-12`}
  >
  </div>
  <!-- green -->
  <div
    class={`absolute w-[40%] aspect-[0.572/1] bg-[#29c775] rounded-full ${Astro.url.pathname === "/" || "/es" ? "blur-[200px]" : "blur-[90px]"} left-[222px] top-[208px]`}
  >
  </div>
  <!-- yellow -->
  <div
    class={`absolute w-[40%] aspect-[0.571/1] bg-[#ffe74b] rounded-full ${Astro.url.pathname === "/" || "/es" ? "blur-[200px]" : "blur-[90px]"} left-[436px] top-[340px]`}
  >
  </div>
</div>
<!-- gradient background -->
